extends layout

block content

  .parallax-container.bg
    .parallax
      img(src='images/service-home.jpg')
    .container.center.white-text.homeBanner.hide-on-small-only
      h3 Hello World
      p This is a description.
      
     .container.center.white-text#homeBanner-mobile.hide-on-med-and-up
      h3 Hello World
      p This is a description.

  //h1= title
  //p Welcome to #{title}
