extends layout

block content
  .row.transparent
    .section
      each service, i in services
        .col.s12.m6.l3
          .card.black
            .card-image
              img(src= service.bannerImage)
            .card-content.orange-text.center
              .card-title= service.name
            .card-content.orange-text
              p= service.description
            .card-content.center
              a.waves-effect.waves-light.btn-flat.service-button.black.orange-text(href= service.link)
                | View Service