body {
	font-family: 'Ubuntu', sans-serif;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
}

.onHover:hover {
	background-color: orange;
	color: black;
}

.link {
	color: black;
	text-decoration: underline;
}

.parallax-container {
	height: 500px;
	width: 100%;
}

.bg {
	background: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.89));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.70)), color-stop(100%,rgba(0,0,0,0.89))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.89) 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.89) 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.89) 100%); /* IE10+ */
  	background: linear-gradient(to bottom, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.89) 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.homeBanner {
	margin-top: 13%;
	margin-bottom: 13%;
}
