body {
	font-family: 'Ubuntu', sans-serif;
	background-image: url('../images/background.jpg');
}

.onHover:hover {
	background-color: orange;
	color: black;
}

.link {
	color: black;
	text-decoration: underline;
}

.parallax-container {
	height: 500px;
	width: 100%;
}

.bg {
	background: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.89));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.70)), color-stop(100%,rgba(0,0,0,0.89))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.89) 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.89) 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.89) 100%); /* IE10+ */
  	background: linear-gradient(to bottom, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.89) 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#homeBanner {
	margin-top: 15%;
	margin-bottom: 15%;
}

#homeBanner-med {
	margin-top: 30%;
	margin-bottom: 30%;
}

.service-button {
	border: 1px solid orange;
	padding-top: 0.2%;
	text-transform: capitalize;
}

.align {
	text-align: justify;
	text-justify: auto;
}

textarea,
input {
	color: black;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: gray !important;
}
 
textarea:-moz-placeholder,
input:-moz-placeholder { /* Firefox 18- */
	color: gray !important;
}
 
textarea::-moz-placeholder,
input::-moz-placeholder {  /* Firefox 19+ */
	color: gray !important;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
	color: gray !important;
}

.input-field input[type=text]:focus {
     border: 2px solid orange;
     box-shadow: 0 1px 0 0 orange;
}

#message:focus {
     border: 2px solid orange;
     box-shadow: 0 1px 0 0 orange;
}

.btn {
	border: 2px solid white;
}